/*Powered By: Manaknightdigital Inc. https://manaknightdigital.com/ Year: 2019*/
$sidebar_nav_top_color: #2c549c;
$color_1: #999;
$white: #fff;
$black: black;
$color_4: #7386D5;
// $primary_bg_color: #7386D5;
$primary_bg_color: #151515;
body {
	background: #fafafa;
}

a {
    color: inherit;
	text-decoration: none;
	transition: all 0.3s;
	&:hover {
		color: inherit;
		text-decoration: none;
		transition: all 0.3s;
	}
	&:focus {
		color: inherit;
		text-decoration: none;
		transition: all 0.3s;
	}
}
.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}
.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}
.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}
.copyright {
	font-size: 6px;
	display: block;
}
#sidebar {
	min-width: 250px;
	max-width: 250px;
	background: $primary_bg_color;
	color: $white;
	transition: all 0.3s;
	-webkit-box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.75);
	.sidebar-header {
		padding: 20px;
		background: $sidebar_nav_top_color;
	}
	ul.components {
		padding: 20px 0;
		border-bottom: 1px solid $white;
	}
	ul {
		p {
			color: $white;
			padding: 10px;
		}
		li {
			a {
				padding: 10px;
				font-size: 1.1em;
				display: block;
				&:hover {
					color: $primary_bg_color;
					background: #fff;
				}
			}
		}
		li.active {
			>a {
				color: $white;
				background: $primary_bg_color;
			}
		}
	}
	a.active {
		color: $black;
		background-color: $white;
	}
}
#sidebar.active {
	margin-left: -250px;
}
a[aria-expanded="true"] {
	color: $white;
	background: $primary_bg_color;
}
a[data-toggle="collapse"] {
	position: relative;
}
.dropdown-toggle {
	&::after {
		display: block;
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
}
ul {
	ul {
		a {
			font-size: 0.9em !important;
			padding-left: 30px !important;
			background: $primary_bg_color;
		}
	}
}

#content {
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}

.btn {
	&:focus, &:active:focus, &.active:focus {
	  outline: none;
	  box-shadow: none;
	}
  }

*:focus:not(a) {
	outline: none;
    box-shadow: none !important;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
	bottom: 30px; /* 30px from the bottom */
	.show {
		visibility: visible; /* Show the snackbar */
		/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
		However, delay the fade out process for 2.5 seconds */
		-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
		animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
}

@media (min-width: 992px) {
	.modal-xl {
		max-width: 1200px;
	}
}

.mkd-image-container {
	max-width: 100px;
}