/*Powered By: Manaknightdigital Inc. https://manaknightdigital.com/ Year: 2019*/
.mkd-upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 100px auto;

    input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .mkd-upload-btn {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;
    }
}

.mkd-upload-form-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;

    input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .mkd-upload-btn {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 4px 10px;
        border-radius: 8px;
        font-size: 10px;
        font-weight: bold;
	}

	.mkd-upload-filename {

	}
}

#mkd-media-upload-container, #mkd-media-crop-container {
    display: none;
}

.mkd-media-panel-2, .mkd-media-panel-3 {
	display: none;
	text-align: right;
}

$color_1: transparent;
$background_color_1: transparent;
$border_color_1: transparent;

#mkd-crop-upload-container-wrapper {
	margin: 0 auto;
}

#mkd-media-gallery-wrapper img {
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

.mkd-gallery-image-image {
	&:hover {
		outline: 5px dotted black;
	}
}

.mkd-gallery-image-image.active {
	outline: 5px solid black;
}

.mkd-choose-image {
	display: inline-block;
	margin-top: 15px;
}

.form-group img {
	display: block;
}
.croppie-container {
	width: 100%;
	height: 100%;
	.cr-image {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		transform-origin: 0 0;
		max-height: none;
		max-width: none;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
	}
	.cr-boundary {
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
	.cr-viewport {
		position: absolute;
		border: 2px solid #fff;
		margin: auto;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
		z-index: 0;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
	}
	.cr-resizer {
		position: absolute;
		border: 2px solid #fff;
		margin: auto;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
		z-index: 0;
		z-index: 2;
		box-shadow: none;
		pointer-events: none;
	}
	.cr-resizer-vertical {
		position: absolute;
		pointer-events: all;
		bottom: -5px;
		cursor: row-resize;
		width: 100%;
		height: 10px;
		&::after {
			display: block;
			position: absolute;
			box-sizing: border-box;
			border: 1px solid black;
			background: #fff;
			width: 10px;
			height: 10px;
			content: '';
			left: 50%;
			margin-left: -5px;
		}
	}
	.cr-resizer-horisontal {
		position: absolute;
		pointer-events: all;
		right: -5px;
		cursor: col-resize;
		width: 10px;
		height: 100%;
		&::after {
			display: block;
			position: absolute;
			box-sizing: border-box;
			border: 1px solid black;
			background: #fff;
			width: 10px;
			height: 10px;
			content: '';
			top: 50%;
			margin-top: -5px;
		}
	}
	.cr-original-image {
		display: none;
	}
	.cr-vp-circle {
		border-radius: 50%;
	}
	.cr-overlay {
		z-index: 1;
		position: absolute;
		cursor: move;
		touch-action: none;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
	}
	.cr-slider-wrap {
		width: 75%;
		margin: 15px auto;
		text-align: center;
	}
}
.croppie-result {
	position: relative;
	overflow: hidden;
	img {
		position: absolute;
	}
}
.cr-slider {
	-webkit-appearance: none;
	width: 300px;
	max-width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: $background_color_1;
	&::-webkit-slider-runnable-track {
		width: 100%;
		height: 3px;
		background: rgba(0, 0, 0, 0.5);
		border: 0;
		border-radius: 3px;
	}
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: none;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: #ddd;
		margin-top: -6px;
	}
	&:focus {
		outline: none;
		&::-ms-fill-lower {
			background: rgba(0, 0, 0, 0.5);
		}
		&::-ms-fill-upper {
			background: rgba(0, 0, 0, 0.5);
		}
	}
	&::-moz-range-track {
		width: 100%;
		height: 3px;
		background: rgba(0, 0, 0, 0.5);
		border: 0;
		border-radius: 3px;
	}
	&::-moz-range-thumb {
		border: none;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: #ddd;
		margin-top: -6px;
	}
	&:-moz-focusring {
		outline: 1px solid white;
		outline-offset: -1px;
	}
	&::-ms-track {
		width: 100%;
		height: 5px;
		background: transparent;
		border-color: $border_color_1;
		border-width: 6px 0;
		color: $color_1;
	}
	&::-ms-fill-lower {
		background: rgba(0, 0, 0, 0.5);
		border-radius: 10px;
	}
	&::-ms-fill-upper {
		background: rgba(0, 0, 0, 0.5);
		border-radius: 10px;
	}
	&::-ms-thumb {
		border: none;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: #ddd;
		margin-top: 1px;
	}
}
.cr-rotate-controls {
	position: absolute;
	bottom: 5px;
	left: 5px;
	z-index: 1;
	button {
		border: 0;
		background: none;
	}
	i {
		&:before {
			display: inline-block;
			font-style: normal;
			font-weight: 900;
			font-size: 22px;
		}
	}
}
.cr-rotate-l {
	i {
		&:before {
			content: '↺';
		}
	}
}
.cr-rotate-r {
	i {
		&:before {
			content: '↻';
		}
	}
}
