
.pagination_custom {
  padding: 10px 10px 10px 0px;
}

.pagination_custom strong, .pagination_custom a {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 2px;
  margin: 5px 5px;
  display: inline-block;
}